<template name="layout">
  {{>settings}}
  {{>menu}}


  <div class="views">
    <div class="panel-overlay"></div>
    {{#if isAndroid}}
      {{> statusbar}}
    {{/if}}
    {{> navbar}}

    {{#momentum plugin='flow-router'}}
      {{> Template.dynamic template=main}}
    {{/momentum}}

  </div>
</template>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet">
</head>
